#confians{
    padding: 5rem 0rem 8rem 0rem;
    h1{
        @include section-heading;
        text-transform: uppercase;

    }
    .footer-top{
        width: 102%;
        position: absolute;
        right: 0;
        padding-top: 2rem;
    }
}


@media (max-width: 991.98px) {
    #confians{
        h1{
            font-size: 2rem;
        }
    }
}