@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../font/Montserrat-Regular.otf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../font/Montserrat-Bold.otf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('../font/Montserrat-SemiBold.otf');
    font-display: swap;
  }  
  @font-face {
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../font/Montserrat-Medium.otf');
    font-display: swap;
  }  