// service section start
#service{
    background: $service-bg;
    
    .service-path{
        width: 103%;
        right: 0;
        height: 35.5rem;
        position: absolute;
        top: 59.75rem;   
    }
    .serve-img{
        position: absolute;
        top: 195%;
        width: 7rem;
        left: 11rem;
    }
    h1{
        @include section-heading;
    }
    div{
        margin-bottom: 2rem;
    }
    p{
        @include service-subhead;
    }
}
// service section end
@media (min-width: 768px) and (max-width: 991.98px){
    #service{
        .custom-marg{
            margin-left: 7rem;
        }
    }
}




@media (max-width: 991.98px) {
    #service{
        h1{
            @include section-heading;
            font-size: 2rem;
        }
    }
}