//theme-color
$primary-color: #14254c;
$secondary-color: #44ffb2;
$white: #fff;
$service-bg: #FAFAFA;
$confirm-heading: #293B7C;



//Font-family
$mont-regular: 'Montserrat Regular';
$mont-bold: 'Montserrat Bold';
$mont-semibold: 'Montserrat SemiBold';
$mont-medium: 'Montserrat Medium';


//font-weight
$font-weight-light:           300 !default;
$font-weight-normal:          500 !default;
$font-weight-normal-light:    600 !default;
$font-weight-bold:            700 !default;